* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hobbit';
  src: url(https://www.fontspace.com/half-elven-font-f32870);
}

:root {
  --background: linear-gradient(45deg, #070346, #125c7e);
  --text-color: #2cc6ec;
}

 /* .background {
  display: inline-block;
  overflow: visible;
  position: relative;
  width: 100%;
}  */


.list {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  list-style: none;
  font-family: "Hobbit";
}

.list-item {
  position: relative;
  font-weight: bold;
  font-size: 50px;
  margin: 0 auto;
  width: max-content;
}

.list-item > .split-text {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 1;
  transition: color 0ms 200ms;
}

.list-item:hover > .split-text {
  color: transparent;
  user-select: none;
  transition-delay: 0ms;
}

.list-item > .split-text::before,
.list-item > .split-text::after {
  position: absolute;
  content: attr(data-text);
  height: calc(.5em);
  overflow: hidden;
  left: 0;
  right: 0;
  color: var(--text-color);
  transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  user-select: none;
}

.list-item:hover > .split-text::before,
.list-item:hover > .split-text::after {
  color: white;
  transform: skewX(15deg);
}

.list-item > .split-text::after {
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

.list-item::before {
  content: "";
  position: absolute;
  width: 110%;
  left: -5%;
  top: calc(50% - 1px);
  height: 2px;
  transform: scale(0);
  background-color: var(--text-color);
  border-radius: 20px;
  z-index: 1;
  transition: transform 200ms ease-in-out;
}

.list-item:hover::before {
  transform: scale(1);
}


.animate {
  margin: 0;
  padding-bottom: 10px;
  background: var(--background);
  color: var(--text-color);
  min-height: 50px;
  display: flex;
  justify-content: center;
}

img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

nav {
  font-size: 25px;
}


body, html {
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333;
  background-image: url('../images/rideau-canal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: #2a536e;
  font-weight: bold;
  transition: color 0.1s;
  margin-right: 15px;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(144, 152, 185);
}

h2 {
  background-color: #abb3b8;
  padding: 20px 15px 20px 15px;
  margin: 0;
}

.post-list {
  margin: 0;
  padding: 0;
}

/* ul {
  list-style-type: none;
} */

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  background-color: rgb(144, 152, 185);
}

main {
  flex: 1;
  padding: 20px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin: 10px;
  padding: 10px;
  line-height: 150%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  /* display: block; */
  /* margin: 5px; */
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
  /* background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s; */
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: rgb(186, 202, 211);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

input#post-title {
  width: 400px;
}

textarea#post-text {
  width: 800px;
  height: 150px;
}

.edit-post-form input {
  width: 400px;
}

.edit-post-form textarea {
  width: 800px;
  height: 150px;
}

.comment-form textarea {
  width: 800px;
  height: 150px;
}

.edit-post-form {
  margin-bottom: 5%;
}

div.meta {
  display: flex;
  justify-content: space-between;
  color: rgb(165, 111, 12);
}

#skates_type {
  padding: 23px 0px 0px 0px;
}

.login-form {
  background-color: #ffffff;
  padding: 10px;
}

.signup-form {
  background-color: #ffffff;
  padding: 10px;
}